label{
    color: black;
}
body{
background-image: url(1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
form{
    font-family: cursive;
    margin-top:150px;
    margin-left:600px;
    background-color: rgba(23, 33, 72, 0.449);
    border: 3px;
    border-color: black;
    width: 250px;
    height: 420px;
    padding-left:35px;
    padding-top: 10px;
}
.forms{
    font-family: cursive;
    margin-top:110px;
    margin-left:600px;
    background-color: rgba(23, 33, 72, 0.449);
    border: 3px;
    border-color: black;
    width: 250px;
    height: 530px;
    padding-left:35px;
    padding-top: 10px;
}
button{
    margin-left: 80px;
    margin-top: 10px;
    padding: 9px;
    border-radius: 3px;
    border: 3px;
}
input{
    margin-top: 15px;
    width:200px;
    border-radius: 10px;
    border:none;
    padding: 12px;
    font-size: 14px;
    color: rgba(23, 22, 23, 0.948);
    background-color: rgb(209, 212, 213);
}
label{
    font-family: serif;
}
button:hover{
    background-color: rgb(85, 26, 71);
}
input:hover{
    background-color: rgba(64, 73, 39, 0.877);
}
