label{
    color: black;
}
body{
background-image: url(1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
form{
    margin-top:110px;
    margin-left:550px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px;
    border-color: black;
    width: 280px;
    height: 530px;
    padding-left:80px;
    padding-top: 10px;
}
.back-btn{
    text-decoration: none;
    background-color: rgba(28, 51, 73, 0.8);
    padding: 8px 13px;
    border-radius: 10px;
    color:  rgb(16, 192, 165);
    position:absolute;
    top: 10px;
    left: 10px;
}
button{
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
}
input{
    margin-top: 15px;
    width:200px;
    border-radius: 10px;
    border:none;
    padding: 10px;
}
label{
    font-family: serif;
}
button:hover{
    background-color: rgb(85, 45, 31);
}
input:hover{
    background-color: rgba(42, 7, 66, 0.808);
}

.select{
    
    width:220px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.select:hover{
        background-color:rgb(37, 76, 96);
    }
.icon{
        position: absolute;
        top: 230px;
        right: 350px;

    }
