
body{
    background-color: rgb(17, 140, 15);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    }



   

table{
   width: 45%;
    border-collapse: collapse;
    margin-bottom:20px ;
    background-color: rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: rgb(17, 140, 15);
}

table,th,td{
    border: 2px solid rgb(153, 31, 209);
    color:white;
    font-weight: bold;
    padding: 10px;
}