
body{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    }

.back-btn{
        text-decoration: none;
        background-color: rgba(28, 51, 73, 0.8);
        padding: 8px 13px;
        border-radius: 10px;
        color:  rgb(16, 192, 165);
        position:absolute;
        top: 10px;
        left: 10px;
    }

table{
   width: 45%;
    border-collapse: collapse;
    margin-bottom:20px ;
    background-color: rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: rgb(17, 140, 15);
}

table,th,td{
    border: 2px solid rgb(153, 31, 209);
    color:white;
    font-weight: bold;
    padding: 10px;
}