{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'criminals.css' %}">
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="NAME" value="Name" name="Name">
        <br>
        <input type="file" placeholder="photo" value="photo" name="photo">
        <br>
        <input type="text" placeholder="PHONE NUMBER" name="phonenumber">
        <br>
        <input type="text" placeholder="id_proof" name="id_proof">
        <br>
        <input type="text" placeholder="E-MAIL" name="email">
        <br>
        <input type="text" placeholder="ADDRESS" name="Address">
        <br>
        <input type="text" placeholder="PREVIOUS CASES" name="previous_cases">
        <br>
        <input type="text" placeholder="CATEGORY" name="category_of_crime">
        <br><br>
        <select name="police_id" class="select">
            <option selected disabled>--Select--</option>
            {%for i in val%}
            <option value="{{ i.id }}">{{ i.Name}}</option>
            {% endfor %}
           
        </select>
        <br>
       
        <button>ADD</button>
    </form>
    
</body>
</html>