{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admindashboard.css' %}">
</head>
<body>
    <div class="nav">
        <h1>ADMIN PAGE</h1>
       <button class="btn">log out</button>
    </div>
    <div class="container">
       <button> <a href="/viewpolicestation">Police Station</a></button>
       <button> <a href="/viewcriminals">criminals</a></button>
       <button> <a href="/viewdetectiondetails">view detection</a></button>
       <button> <a href="/viewuser">user</a></button>
   



    </div>
</body>
</html>