{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admindashboard.css' %}">
</head>
<body>
    <div class="nav">
        <h1>ADMIN PAGE</h1>
       <button class="btn"><a href="{% url 'login' %}">Logout</a>  
    </div>
    <div class="container">
       <a href="/viewpolicestation" class="main-btn">
        <div class="main-div">Police Station</div>
       </a>
         <a href="/viewcriminals" class="main-btn"><div class="main-div">criminals</div></a> 
         <a href="/viewdetectiondetails" class="main-btn"><div class="main-div">view detection</div></a> 
         <a href="/viewuser" class="main-btn"><div class="main-div">user</div></a> 
   



    </div>
</body>
</html>