{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="USERNAME" name="username">
        <br>
        <input type="text" placeholder="Password" name="password">
        <br>
        <button type="submit">LOGIN</button>
        <br>
        <a href="">forgotten_password</a>
    </form>
    
</body>
</html>