{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="{% static 'policestation.css' %}">


</head>
<body>
    <table>
        
        <thead>
            <tr>
                <th>sl.no</th>
                <th>NAME</th>
                <th>ph.no</th>
                <th>E-MAIL</th>
                <th>address</th>
                <th>pincode</th>
                <th></th>
            </tr>
    </thead>
    <tbody>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.phonenumber }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.location }}</td>
            <td>{{ i.pincode }}</td>
            <td><button>Edit</button> 
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <a href="/addpolicestation">add police station</a>
        </tr>

    </tbody>

</table>
</body>
</html>