{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="{% static 'policestation.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">



</head>
<body>
    <a href="#" class="back-btn" onclick="history.back()"> <i class="fa-solid fa-arrow-left"></i></a>
    <table>
        
        <thead>
            <tr>
                <th>sl.no</th>
                <th>NAME</th>
                <th>ph.no</th>
                <th>E-MAIL</th>
                <td>House name</td>
                <td>place</td>
                <td>pincode</td>
                <td>post</td>
                <td>chat id</td>
                <th></th>
            </tr>

    </thead>
    <tbody>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.phonenumber }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.house_name }}</td>
            <td>{{ i.place }}</td>
            <td>{{ i.pincode }}</td>
            <td>{{ i.post }}</td>
            <td>{{ i.chat_id }}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>
</body>
</html>
