{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="{% static 'policestation.css' %}">


</head>
<body>
    <table>
        
        <thead>
            <tr>
                <th>sl.no</th>
                <td>Location</td>
                <td>Date</td>
                <td>Time</td>
                <th></th>
            </tr>

    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Location</td>
            <td>Date</td>
            <td>Time</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Location</td>
            <td>Date</td>
            <td>Time</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Location</td>
            <td>Date</td>
            <td>Time</td>
        </tr>

    </tbody>

</table>
</body>
</html>