{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="{% static 'policestation.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



</head>
<body>
    <table>
        
        <thead>
            <tr>
                <th>sl.no</th>
                <th>NAME</th>
                <th>ph.no</th>
                <th>E-MAIL</th>
                <th>address</th>
                <th>pincode</th>
                <th></th>
            </tr>
    </thead>
    <tbody>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.phonenumber }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.location }}</td>
            <td>{{ i.pincode }}</td>
            <td>

                <a href="edit_police/{{ i.id }}"><i class='bx bx-edit' style="color: chartreuse; font-size: 24px;"></i></a>
                <a href="delete_police/{{ i.LOGIN.id }}"><i class='bx bx-message-square-minus' style="color: chartreuse; font-size: 24px;"></i></a>

            </td>
        </tr>
        {% endfor %}
        <tr>
            <a href="/addpolicestation"><i class='bx bx-message-square-add  icon' style="color: aquamarine; font-size: 24px;"></i></a>
        </tr>

    </tbody>

</table>
</body>
</html>