{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="{% static 'viewcriminals.css' %}">


</head>
<body>
    <table>
        
        <thead>
            <tr>
                <th>sl.no</th>
                <th>NAME</th>
                <th>ph.no</th>
                <th>E-MAIL</th>
                <th>address</th>
                <th>category_of_crime</th>
                <th>previous_case</th>
            </tr>

    </thead>
    <tbody>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.phonenumber }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.Address }}</td>
            <td>{{ i.category_of_crime }}</td>
            <td>{{ i.previous_cases }}</td>
        </tr>
        {% endfor %}
       

    </tbody>

</table>
</body>
</html>
