<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<link rel="stylesheet" href="policestation.css">


</head>
<body>
    <table>
        
        <thead>
            <tr>
                <th>sl.no</th>
                <th>NAME</th>
                <th>ph.no</th>
                <th>E-MAIL</th>
                <th>address</th>
                <th>pincode</th>
                <th></th>
            </tr>

    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>NAME</td>
            <td>ph.no</td>
            <td>E-MAIL</td>
            <td>address</td>
            <td>PINCODE</td>
            <td><button>Edit</button> <button>Delete</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>NAME</td>
            <td>ph.no</td>
            <td>E-MAIL</td>
            <td>address</td>
            <td>PINCODE</td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>NAME</td>
            <td>ph.no</td>
            <td>E-MAIl</td>
            <td>address</td>
            <td>PINCODE</td>
            <td><button>Edit</button><button>Delete</button></td>
        </tr>

    </tbody>

</table>
</body>
</html>